body {
  font-family: Futura, “Trebuchet MS”, Arial, sans-serif;
  background-color: $silver-white;
  padding-top: 2em;
  padding-bottom: 2em;
}

h1 {
  font-size: 5em;
  font-family: 'Pacifico', cursive;
  color: $red;
}

h2 {
  margin: 1em 0;
}

.container {
  width: 100%;
}

.blue-box {
  background: $blue;
  width: 80%;
  max-width: 750px;
  border-radius: 10px;
  margin: 2em auto;
  padding-top: 2em;
  padding-bottom: 2em;
}

.btn {
  font-size: 1.5em;
  display: block;
  max-width: 60%;
  margin: .5em auto;
}

.btn-primary {
  background-color: $red;
}

.btn-primary:hover {
  background-color: $dull-red;
}

.input{
  max-width: 75%;
  margin: 1em auto;
  padding: .5em;
  background-color: $silver-white;
  border-radius: 10px;
  p {
    padding: .5em;
  }
  hr {
    margin: .5em 6em;
    border: 0;
    height: 1px;
    background: #333;
    background-image: linear-gradient(to right, #ccc, #333, #ccc);
  }
  input[type='range'] {
    margin-top: 1.5em;
  }
}

.input-group {
  width: 75%;
  margin: 1em auto;
}

.stack {
  position: relative;
}

.dog-card {
  max-width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  height: 400px;
  width: 370px;
  background-color: $silver-white;
  border-radius: 10px;
  padding: 1em;
}

.dog-card:last-child {
  position: relative;
}

.fa-red {
  color: $dull-red;
}

.fa-green {
  color: $green;
}

.selections {
  display: inline-block;
}

.dog-pic {
  height: 300px;
  width: 300px;
  margin: 1em auto;
  background-color: gray;
  border-radius: 10px;
  img {
    margin: auto;
  }
}

.vertical-align {
  display: flex;
  align-items: center;
}
